<!doctype html>
<html>
  <head>
    <title>Onceler Link</title>
    <style type="text/css">
      #link {
        width: 28em;
        font-family: monospace;
      }
    </style>
<%= erb :'partials/header' %>
  </head>
  <body>
    <%= erb :'partials/bodyheader' %>

    <h1>Onceler</h1>
    <h3>Your secret link:</h3>
    <% link = @secret_url %>
    <!--
    <input id="link" type="text" readonly=readonly value="<%= link %>" />
    <script type="text/javascript">
      document.getElementById('link').focus();
      document.getElementById('link').select();
    </script>
    -->
    <pre id="link"><a href="<%= link %>"><%= link %></a></pre>
    <p>
      <form><button formaction="../">Make another</button></form>
    </p>
  </body>
</html>
<% # vim: set ft=eruby sw=2 ts=2 tw=79: %>
